<h1> Contacts </h1>

<% 
contacts = Contact.all
%>     

 <% for contact in contacts %>
    <li> 
    <%= contact["first_name"] %> <%= contact["last_name"] %> - 
    <%= contact["email"] %> - <%= contact["phone_number"] %> -
    <%
    contact_company = Company.find_by({"id" => contact["company_id"]})
    contact_company_name = contact_company["name"]
    %>
    <%= contact_company["name"]%>

    </li>
    <%end%>